{% extends "public/extend/layout.html" %}
{% block content %}
    <div class="card col-lg-8 mx-auto my-3">
        <a class="btn btn-outline-primary btn-lg btn-block m-2" href="{{ url_for('new_order')}}" role="button">Order Now</a>

        <div class="card col-lg-8 mx-auto my-3">
            <div class="card-body">
                <h5 class="card-title text-success">Delivered</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>

        <div class="card col-lg-8 mx-auto my-3">
            <div class="card-body">
                <h5 class="card-title text-danger">Cancelled</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>

    </div>
{% endblock content %}